*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style-type: none;
    border: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .4s ease-in-out;
}
body{
    /* background-image: linear-gradient(to bottom, rgba(9, 3, 3, 0), rgb(138, 65, 65)); */
    line-height: 1.9;
    font-size: 17px;
    overflow-x: hidden;
}
.container{
    max-width: 101.5rem;
    margin: 0 auto;
    width: 90%;
}
h1,h2,h3,h4,h5{
    color: black;
}
h1{
    font-size: 3rem;
    margin: 1rem 0;
}
h2{
    font-size: 2.7rem;
    margin: 1rem 0;
}
h3{
    font-size: 2rem;
    margin: 1rem 0 1rem .1rem;
}
h4{
    font-size: 1.5rem;
    /* margin: 1rem; */
}
img{
    display: block;
    width: 100%;
    object-fit: cover;
}
nav{
    height: 5rem;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 10;
    background: rgb(6, 90, 150);
    box-shadow: 0 6px 16px rgb(9, 174, 192);
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));

}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.profile-img{
    border: 3px solid white;
    height: 3.5rem;
    width: 3.4rem;
    overflow: hidden;
    border-radius: 50%;
}

.logo h3{
    font-size: 40px;
    text-shadow: .2rem .2rem rgb(211, 189, 168);
    font-weight: 400;
    color: white;
}
.logo h3 span{
    margin-right: 5px;
    color: #ffffff;
    font-size: 3.6rem;
    text-shadow: none;
    transition: .3s ease-in;
}
.nav-link{
    display: flex;
    gap: 1.5rem;
    margin-left: 20px;
    align-items: center;
}
nav .nav-link a{
    border-radius: 20px;
    outline: none;
    width: 150px;
    color: #ffff;
    font-weight: 300;
    font-size: 22px;
    padding: .6rem;
    box-shadow: 0 1px 10px white;
}
.nav-link a:hover{
    background: white;
    color: blue;
    box-shadow: 0 1px 20px white;
    transition: .4s ease;
}
.phone-button{
    display: none;
}

.date_marquee{
    width: 100vw;
    display: flex;
    font-size: 20px;
    color: aliceblue;
    position: fixed;
    z-index: 5;
    margin-top: 5rem;
    background-color: #310666;
    /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); */
}
#todaysDate{
    width: 300px;
    text-align: center; 
    font-weight: 600; 
    font-size: 25px; 
    color: white;
    background: rgb(221, 30, 17);
}
.profile{
    cursor: pointer;
    position: relative;
    left: 27px;
}
.profile ul{
    width: 150px;
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 140%;
    box-shadow: 0 1rem 1rem rgb(72, 70, 70);
    visibility: hidden;
    opacity: 0;
    border-radius: 10px;
    overflow: hidden;
}
.profile ul li a{
    font-size: 18px;
    display: block;
    padding: 1rem;
    color: white;
    background: rgb(26, 159, 220);
    transition: .3s ease;
}
.profile ul li:last-child a{
    background: rgba(212, 122, 4, 0.815);
}
.profile:hover ul{
    visibility: visible;
    opacity: 1;
}


/* ......section........ */

section{
    margin-top: 14rem;
    width: 100vw;
}
.category-btn{
    display: inline;
    background: #310666;
    color: rgb(193, 105, 193);
    padding: .5rem 1rem;

}
.category-btn:hover{
 color: #ffffff;
}
.post-thumb{
    border: .8rem solid #670ea2;
    border-radius: 5rem;
    overflow: hidden;
    margin-bottom: 1rem;
    object-fit: cover;
}
.post-profile{
    display: flex;
    gap: 1rem;
    margin-top: 1.2rem;
}
.post-profile-img{
    border-radius: 50%;
    height: 3.2rem;
    width: 3.2rem;
    overflow: hidden;
}
.post-profile-info small{
    color: #ffffff;
}
.featured-container{
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
.featured .post-thumb{
    height: fit-content;
}
.post-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5rem; 
    margin-bottom: 5rem auto;
}
.post .post-thumb{
    border: .8rem solid purple;
    border-radius: 4rem;
}

.category-container{
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    gap: 1rem;
    text-align: center;
}
.categories{
    margin-top: 55px;
    padding: 3rem 0;
    border-top: 2px solid purple;
    border-bottom: 2px solid purple;
    background: rgb(49, 203, 133);
}
.category-container i{
    margin-right: 5px;
}

footer{
    background: #4a0c94;
    background: #440202;
    padding-top: 5rem;
    box-shadow: inset 0 1.5rem 1.5rem #190101;
}
.footer-social{
    display: flex;
    margin-inline: auto;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    gap: 1.7rem;
}
.footer-social a{
    background: #9871c8;
    border-radius: 50%;
    height: 2.3rem;
    width: 2.4rem;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-social a:hover{
    background: #ffffff;
    color: black;
    font-size: 30px;
}
.footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-container ul li a{
    color: white;
}
.footer-container ul li a:hover{
    color: rgb(237, 38, 38);
}
.footer-container h4{
    color: lightblue;
    border-bottom: 3px solid lightblue;
}
.footer-copy{
    color: white;
    padding: .5rem 0 .7rem 0;
    border-top: 1px solid rgb(38, 161, 175);
    text-align: center;
    margin-top: 1rem;
}

/* >>>>>>For the blog>>>>>>>>>>>>> */
.search-bar{
    margin-top: 8rem;
    margin-bottom: -150px;
}
.search-container{
    width: 35rem;
    background: #260651;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: .5rem 1rem;
    border-radius: 10px;
    color: #960996;
}
.search-container div{
    display: flex;
    width: 100%;
    margin-left: .7rem;
    align-items: center;
}
.search-container input{
    background: transparent;
    padding: .5rem 0;
    width: 100%;
    margin-left: .7rem;
    margin-right: .7rem;
    color: white;
}
.search-container input::placeholder{
    color: white;
}
.btn{
    display: inline-block;
    width: fit-content;
    padding: .6rem 1.2rem;
    cursor: pointer;
    border-radius: 7px;
    background: #6f12e9;
    color: white;
}
.btn:hover{
    opacity: 0.75;
}

/* >>>>>>>SINGLE POSTS>>>>>>> */
.single-post{
    margin: 8rem 0 2rem;
}
.single-post-container{
    width: 60rem;
    padding: 1rem 2rem 2rem;
    background: #630202;
}
.single-post h5, .single-post h2{
    color: white;
}
.single-post p{
    color: aliceblue;
    margin-top: 1rem;
    line-height: 1.7;
}
.single-post-thumb{
    margin-top: 1.5rem;
}

/* >>>>>>>Category ?>>>>>>*/
.category-title{
    height: 13rem;
    /* margin-top: 5rem; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #690404;
}
.category-title h2{
    color: white;
}

/* >>>>>>FOR THE ABOUT PAGE>>>> */
.empty-page{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
    height: 15rem;
}


/* >>>>>>>FOr the sign up page>>>>> */
.form-section{
    margin-top: 62px;
    margin-bottom: 40px;
    display: grid;
    place-items: center;
}
.form-section-container{
    width: 30rem;
}
.message-alert{
    padding: .8rem 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}
.message-alert-error{
    background: #efa6a6;

}
.message-alert-success{
    background: #91f291;
}
.form-section form{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.form-control{
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
input, textarea, select{
    padding: 0.8rem 1.4rem;
    border-radius: 5px;
    resize: none;
    color: #060634;
}
#btnn{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background: #191972;
    width: 150px;
    padding: 5px;
    cursor: pointer;
    font-size: 13px;
    border-radius: 18px;
    color: aliceblue;

}
#btnn:hover{
    width: 160px;
    transition: .4s ease-in-out;
}
form small{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: .8rem;
    color: aliceblue;

}
form small a{
    margin-left: 10px;
    font-size: 15px;
    color: #8a8ae8;
}
form small a:hover{
    font-size: 20px;
    color: #c2c2db;
}


















/* ..................MEDIA QUERY............. */
@media (max-width:1024px){
    .profile{
        left: 16rem;
    }
    h2{
        font-size: 1.6rem;
    }
    h3{
        font-size: 1.2rem;
    }
    h5{
        font-size: .8rem;
    }
    nav .phone-button{
        display: inline-block;
        font-size: 2rem;
        background: transparent;
        color: white;
        cursor: pointer;
    }
    nav .close{
        display: none;
    }
    .nav-container{
        position: relative;
    }
    nav .nav-link{
        display: none;
        position: absolute;
        right: 0;
        flex-direction: column;
        gap: 0 !important;
        width: 12rem;
        align-items: flex-start;
        justify-content: center;
        top: 5rem;
    }
    .nav-link li{
        width: 100%;
        display: flex;
        align-items:center;
        height: 4.5rem;
        box-shadow: 2rem 3rem 7rem #140528;
        opacity: 0;
        animation: HERO 400ms 0s ease forwards;
        transform-origin: top;
}

    @keyframes HERO {
        0%{
            transform: rotateX(90deg);
        }
        100%{
            opacity: 1;
            transform: rotateY(0deg);
        }
    }
    .nav-link li:nth-child(2){
        animation-delay: 200ms;
    }
    .nav-link li:nth-child(3){
        animation-delay: 250ms;
    }
    .nav-link li:nth-child(4){
        animation-delay: 300ms;
    }
    .nav-link li:nth-child(5){
        animation-delay: 350ms;
    }
    .nav-link li:nth-child(6){
        animation-delay: 400ms;
    }

    .nav-link li a{
        border-radius: 2px;
        box-shadow: none;
        font-size: 15px;
        width: 100%;
        height: 100%;
        display: flex;
        background: #1e0873;
        align-items: center;
        padding: 0 2rem;
    }
    .nav-link li a:hover{
        font-size: 20px;
        opacity: 0.85;
        color: aliceblue;
        background: #0e359f;
    }
    nav ul li:last-child{
        background: #11085f;
    }
    .nav-profile{
        margin: 0 auto;
    }

    .featured-container{
        grid-template-columns: 1fr;
        gap: 1rem;
        width: 80%;
    }
    .featured-container .post-thumb{
        width: 70%;
        margin: 0 auto;
    }
    .post-container{
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
    }
    .post-container img{
        height: 80%;
        background-position: contain;
    }
    .post-container .post-thumb{
        border: .5rem solid purple;
    }

    /* >>>>>>>>>SINGLE POST>>>>>>> */
    .single-post-container{
        padding: 1.2rem;
        width: 73%;
    }
    .single-post-thumb{
        margin-top: 1rem;
    }
    .form-section-container{
        width: 90%;
    }
}


@media (max-width:961px){
    .profile{
        left: 95px;
    }
    .search-container{
        width: 60%;
        padding: .2rem 1rem;
    }
    .btn{
        
    padding: .3rem .7rem;
    }
}
@media (max-width:800px){
    .profile{
        left: 190px;
    }

}

@media (max-width:600px){
    .logo h3{
        font-size: 20px;
        font-weight: 400;
        text-shadow: .1rem .1rem rgb(211, 189, 168);
    }
    .logo h3 span{
        margin: 15px 5px 0 -10px;
        font-size: 40px;
    }
    .profile{
        left: 75px;
    }
    .search-container{
        width: 80%;
    }
    .featured-container{
        width: 90%;
        gap: 0.5rem;
    }
    .post-container{
        grid-template-columns: 1fr;
        gap: .5rem;
    }
    .category-container{
        grid-template-columns: 1fr 1fr;
        width: 90%;
    }
    .footer-container{
        flex-direction: column;
        gap: .5rem;
    }
    .date_marquee{
        display: flex;
        font-size: 17px;
        color: aliceblue;
        position: fixed;
        z-index: 5;
        margin-top: 5rem;
        background-color: #310666;
        padding: 10px;
    }
    #todaysDate{
        display: none;
    }
    /* >>>>>>>>>SINGLE POST>>>>>>> */
    .single-post-container{
        padding: 1.2rem;
        width: 93%;
    }
    .single-post-thumb{
        margin-top: 1rem;
    }
}


@media (max-width:430px){
    .post-container{
        grid-template-columns: 1fr;
        gap: 5rem;
    }
    .logo h3{
        font-size: 20px;
        font-weight: 400;
        text-shadow: .1rem .1rem rgb(211, 189, 168);
    }
    .logo h3 span{
        margin: 15px 5px 0 -10px;
        font-size: 40px;
    }
    .profile{
        left: 75px;
    }
    .search-bar{
        margin-bottom: -180px;
    }
}

@media (max-width:320px){
    .profile{
        left: 45px;
    }
    .profile ul{
        width: 100px;
        font-size: 15px;
    }
    .profile ul li a{
        font-size: 13px;
    }
}
